@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

//MEDIA
//0-600px
//600-900px
//900-1200px- normal style- desktop-first
//1200-1800px
//>1800px

@mixin responisve-phone {
  @media (max-width: 600px) {
    @content;
  }
}
